@import "fonts/_index";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bumper {
    @apply max-w-screen-xl m-auto px-4;
  }
  .link {
    @apply hover:text-lime;
  }
  .text-bumper {
    @apply max-w-screen-md m-auto px-4;
  }
  .article {
    img,
    p {
      @apply mb-10;
    }
  }
  .content-header {
    @apply text-left md:text-center m-auto;
    max-width: 730px;
  }
  .blog {
    @apply text-xl;
    max-width: 730px;
    margin: 0 auto;
    a {
      @apply font-medium underline hover:text-lime-dark;
    }
    p,
    ul,
    li,
    img {
      @apply mb-4 text-base md:text-lg;
    }

    h2 {
      @apply text-3xl font-heading font-medium mt-8 mb-2;
    }
    h3 {
      @apply text-2xl font-heading font-medium mt-5 mb-2;
    }
    h4 {
      @apply text-xl font-heading font-medium;
    }
    img {
      @apply m-auto;
    }
    figure {
      @apply my-4 border-b border-gray-200;
      // @lg{
      //   width: 130%;
      //   margin-left: -15%;
      // }
      img {
        @apply mb-1 m-auto;
      }
      figcaption {
        @apply text-sm text-gray-600 uppercase text-right;
      }
    }
    ul {
      @apply list-disc list-inside;
      li {
      }
    }
  }
  .mobile-nav__toggle-btn {
    padding: 10px;
    border: 0;
    box-shadow: none;
    background-color: transparent;
    border-radius: 6px;
    transition: 0.3s cubic-bezier(0.32, 0.36, 0.4, 1);
    cursor: pointer;
  }
  .mobile-nav__toggle {
    position: relative;
    width: 24px;
    height: 22px;
  }
  .mobile-nav__toggle-line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 6px;
    transition: 0.3s cubic-bezier(0.32, 0.36, 0.4, 1);
    transform: translate(0, 0) scale(1);
  }
  .mobile-nav__toggle-line.line--1 {
    top: 0;
    opacity: 1;
  }
  .mobile-nav__toggle-line.line--2 {
    opacity: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
  .mobile-nav__toggle-line.line--3 {
    top: 50%;
    transform: translate(0, -50%);
  }
  .mobile-nav__toggle-line.line--4 {
    bottom: 0;
  }
  .u-visibly-hidden {
    position: fixed;
    width: 1px;
    height: 1px;
    margin: -1px;
    top: -1px;
    left: 0;
    overflow: hidden;
  }
  .mobile-nav__toggle-btn.is-active .mobile-nav__toggle-line.line--1 {
    opacity: 0;
    transform: translate(0, 200%) scale(0);
  }
  .mobile-nav__toggle-btn.is-active .mobile-nav__toggle-line.line--2 {
    opacity: 1;
    top: 50%;
    transform: translate(0, -50%) rotate(-45deg);
  }
  .mobile-nav__toggle-btn.is-active .mobile-nav__toggle-line.line--3 {
    opacity: 1;
    top: 50%;
    transform: translate(0, -50%) rotate(45deg);
  }
  .mobile-nav__toggle-btn.is-active .mobile-nav__toggle-line.line--4 {
    opacity: 0;
    transform: translate(0, -200%) scale(0);
  }
}

body {
  @apply font-body;
}
